body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
}

.container {
    display: flex;
    width: 90%;
    height: 90%;
    /* max-width: 1200px; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.register-container {
    background-color: #f9f9f9;
    text-align: center;
}

.register-container .illustration {
    width: 350px; /* Adjust width as needed */
    height: auto;
    margin-top: 20px; /* Add some space between the button and the image */
    opacity: 1; /* Make the image fully visible */
}

.login-container {
    background-color: #fff;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    z-index: 1;
    position: relative;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777;
    z-index: 1;
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

button:hover {
    background-color: #218838;
}

.signup{
    padding: 10px 20px;
    font-size: 16px;
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.signup:hover {
    background-color: #28a745;
    color: #fff;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.input-group input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    position: relative;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}
